<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Cart</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/checkout.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <style type="text/css">
        .quantity input {
            width: 40px;
            padding: 5px 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="checkout">
      <div id="app">
        <div class="container">
          <div class="cart">
            <div class="checkout-title">
              <span>购物车-{{author}}</span>
            </div>

            <!-- table -->
            <div class="item-list-wrap">
              <div class="cart-item">
                <div class="cart-item-head">
                  <ul>
                    <li>商品信息</li>
                    <li>商品金额</li>
                    <li>商品数量</li>
                    <li>总金额</li>
                    <li>编辑</li>
                  </ul>
                </div>
                <ul class="cart-item-list">
                  <li v-for="item in shopList">
                    <div class="cart-tab-1">
                      <div class="cart-item-check">
                        <a href="javascript:void 0" class="item-check-btn" @click="select(item)" v-bind:class="{'check':item.checked}">
                        </a>
                      </div>
                      <div class="cart-item-pic">
                        <img v-bind:src="item.productImage" alt="烟">
                      </div>
                      <div class="cart-item-title">
                        <div class="item-name" v-text="item.productName"></div>
                      </div>
                      <div class="item-include">
                        <dl>
                          <dt>赠送:</dt>
                          <dd v-for="give in item.parts" v-text="give.partsName"></dd>
                        </dl>
                      </div>
                    </div>
                    <div class="cart-tab-2">
                      <div class="item-price">{{item.productPrice|changePrice}}</div>
                    </div>
                    <div class="cart-tab-3">
                      <div class="item-quantity">
                        <div class="select-self select-self-open">
                          <div class="quantity">
                            <a class="layui-btn layui-btn-primary layui-btn-small" href="javascript:" @click="changeNumber(item,-1)"><i class="layui-icon">&#xe603;</i></a>
                            <input type="text" value="0" disabled v-model="item.productQuantity">
                            <a class="layui-btn layui-btn-primary layui-btn-small" href="javascript:" @click="changeNumber(item,1)"><i class="layui-icon">&#xe602;</i></a>
                          </div>
                        </div>
                        <div class="item-stock">有货</div>
                      </div>
                    </div>
                    <div class="cart-tab-4">
                      <div class="item-price-total">{{item.productPrice*item.productQuantity|changePrice}}</div>
                    </div>
                    <div class="cart-tab-5">
                      <div class="cart-item-operation">
                        <a href="javascript:void 0" class="item-edit-btn">
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- footer -->
            <div class="cart-foot-wrap">
              <div class="cart-foot-l">
                <div class="item-all-check">
                  <a>
                    <span class="item-check-btn" v-bind:class="{'check':checkAll}" @click="selectAll(true)">
                    </span>
                    <span style="cursor: pointer;" @click="selectAll(true)">全选</span>
                  </a>
                </div>
                <div class="item-all-del">
                  <a class="item-del-btn">
                    <span style="cursor: pointer;margin-left: 20px;" @click="selectAll(false)">取消全选</span>
                  </a>
                </div>
              </div>
              <div class="cart-foot-r">
                <div class="item-total">
                  总价: <span class="total-price">{{total|changePrice}}</span>
                </div>
                <div class="next-btn-wrap">
                  <a href="javascrit:;" class="btn btn--red" style="width: 200px">结账</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="md-modal modal-msg md-modal-transition" id="showModal">
          <div class="md-modal-inner">
            <div class="md-top">
              <button class="md-close">关闭</button>
            </div>
            <div class="md-content">
              <div class="confirm-tips">
                <p id="cusLanInfo">你确认删除此订单信息吗?</p>
              </div>
              <div class="btn-wrap col-2">
                <button class="btn btn--m" id="btnModalConfirm">Yes</button>
                <button class="btn btn--m btn--red" id="btnModalCancel">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/lib/vue.min.js"></script>
    <script src="js/lib/vue-resource.js"></script>
    <script type="text/javascript" src="cart.js"></script>
</body>
</html>
